{{define "js:gameItem(game, winnersNames, durationHours, durationMinutes)"}}
<li data-game-id="${game.id}" class="mb-2">
    <a href="edit-game.html?gameId=${game.id}">
        <i class="bi bi-pencil"></i> ${game.gameDate}</a>
        ${game.tags > '' ? ` <i>(${game.tags})</i>` : ''} 
        ${(parseInt(game.gameDuration) > 0 ? `<br>Длительность: ${durationHours}:${durationMinutes}` : '')}
        ${(winnersNames.length > 0 ? `<br>Победители: <span style="color:green">${winnersNames}</span>` : '')}
        <br>
        <a href="#" data-game-id="${game.id}" onclick="deleteGameClick(event);" >Удалить</a>
</li>
{{end}}
{{define "js:gamesStats(gamesCount, players)"}}
Количество игр: ${gamesCount}<br>
${players.map((player) => {
    return `${player.name}: <span style="color:green">${player.winCount}</span> / <span style="color:red">${player.loseCount}</span>${!player.drawCount ? '' : ` / ${player.drawCount}`}<br>`;
}).join('')}
<small><span style="color:green">Побед</span> / <span style="color:red">Поражений</span> / Ничьи</small>
{{end}}
{{define "content"}}<div class="container">
        <h2 id="pageTitle">Список игр</h2>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
                <li class="breadcrumb-item active"><a id="newGameLink"
                        href="edit-game.html">Добавить игру</a></li>
            </ol>
        </nav>

        <div class="row">
            <ul id="game-list" class=""></ul>
        </div>
        <div class="row">
            <div class="col-12">
                <p id="gamesStats"></p>
            </div>
        </div>
    </div>
    {{template "js-templates"}}
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const gameListContainer = document.getElementById('game-list');
        const editTitle = urlParams.get('editTitle');
        refreshDBFromCloud().then(async (db) => {
            const games = await db.getAll('games');
            const gamesList = getGamesList(games);
            let filteredGames = games;
            if (editTitle) {
                document.getElementById('newGameLink').href += `?title=${editTitle}`;
                document.getElementById('pageTitle').textContent += ` ${editTitle}`;
                filteredGames = games.filter(g => g.gameTitle === editTitle).sort((a, b) => a.id < b.id);

                document.getElementById('gamesStats').innerHTML = templates.gamesStats(
                    Object.keys(filteredGames).length,
                    gamesList.players[editTitle],
                );
            }

            for (const game of filteredGames) {
                const winners = (game.players || [])
                    .filter(player => player.result === 'winner');
                const winnersNames = winners.map(player => player.name).join(', ');
                const durationParts = formatDuration(game.gameDuration);
                gameListContainer.insertAdjacentHTML('beforeend', templates.gameItem(game, winnersNames, durationParts[0], durationParts[1]));
            }
        });

        function deleteGameClick(event) {
            event.preventDefault();
            const gameId = event.currentTarget.getAttribute('data-game-id');
            if (confirm(`Удалить игру?`)) {
                (async ()=> {
                    await deleteGame(gameId);
                    document.querySelector(`[data-game-id="${gameId}"]`).remove();
                })();
            }
            return false;
        }
    </script>{{end}}