{{define "js:gameItem(gameTitle, gamesCount, players, addTitleMarker)"}}
${addTitleMarker ? `<hr>` : ''}
<li class="mb-3">
    ${addTitleMarker ? `<strong class="titleMarker">${gameTitle[0]}</strong>` : ''}
    <a href="edit-games.html?editTitle=${gameTitle}"><i class="bi bi-pencil"></i> ${gameTitle}</a>
    <a href="edit-game.html?title=${gameTitle}"><i class="bi bi-file-plus"></i> Добавить</a> <br>
    Количество игр: ${gamesCount}<br>
    ${players.map((player) => {
        return `${player.name}: <span style="color:green">${player.winCount}</span> / <span style="color:red">${player.loseCount}</span>${!player.drawCount ? '' : ` / ${player.drawCount}`}<br>`;
    }).join('')}
    <small><span style="color:green">Побед</span> / <span style="color:red">Поражений</span> / Ничьи</small>
</li>
{{end}}
{{define "content"}}<div class="container">
        <h2>Список игр</h2>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <a href="edit-game.html">Добавить игру</a>
                    | <a href="stats.html">Статистика</a>
                    | <a href="settings.html">Настройки</a>
                </div>
                <div class="form-group">
                    <input id="game-filter-input" placeholder="Поиск" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <ul id="game-list" class="no-bullets game-list"></ul>
        </div>
        <div class="row">
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Экспорт\Импорт
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="return downloadAsCsv(event);" href="#">Сохранить как csv</a>
                        <a class="dropdown-item" onclick="return exportDBClick(event);" href="#">Экспорт json</a>
                        <a class="dropdown-item" onclick="return importDBClick(event);" href="#">Импорт json</a>
                    </div>
                </div>
                <input id="importDBInput" type="file" class="invisible" />
            </div>
        </div>

    </div>
    {{template "js-templates"}}
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const gameListContainer = document.getElementById('game-list');
        let uuid = urlParams.get('uuid');
        if (uuid) {
            window.localStorage.setItem('uuid', uuid);
            window.location.search = '';
        }

        let games = null;
        let gamesList = null;

        const filterChangeEvent = debounceFn(function (event) {
            // todo: hide\show elements
            if (gamesList) {
                renderGameList(gamesList, event.target.value.toLowerCase());
            }
        }, 200);

        document.getElementById('game-filter-input').addEventListener("keyup", filterChangeEvent);

        function renderGameList(gamesList, gameFilterValue = '') {
            let lastTitle = '';
            gameListContainer.innerHTML = '';
            for (const gameTitle of gamesList.titles) {
                if (gameFilterValue !== '' && !gameTitle.toLowerCase().includes(gameFilterValue)) {
                    continue;
                }
                gameListContainer.insertAdjacentHTML('beforeend', templates.gameItem(
                    gameTitle,
                    gamesList.games[gameTitle].length,
                    gamesList.players[gameTitle],
                    gameTitle[0] !== lastTitle[0],
                ));
                lastTitle = gameTitle;
            }
        }

        function downloadAsCsv(event) {
            event.preventDefault();
            openDB().then(db => {
                db.getAll('games').then(games => {
                    const rows = [
                        ["id", "Название игры", "Дата игры", "Длительность", "Теги", "Имя игрока", "Результат", "Очки", "Игрок - теги"],
                    ];
                    games.forEach(game => {
                        let winners = '';
                        if (game.players && game.players.length > 0) {
                            winners = getWinnersNames(game);
                        } else {
                            game.players = [{}];
                        }
                        game.players.forEach((player, idx) => {
                            rows.push([
                                game.id,
                                escapeCSVString(game.gameTitle),
                                game.gameDate,
                                game.gameDuration,
                                escapeCSVString(game.tags ?? ''),
                                player.name ?? '',
                                player.result ?? '',
                                player.score ?? '',
                                player.tags ?? '',
                            ]);
                        });
                    });
                    let csvContent = rows.map(e => e.join(',')).join("\n");

                    const file = new File([csvContent], 'my-games.csv', {
                        type: 'text/csv',
                    });
                    downloadFile(file);
                });
                return false;
            });
            return false;
        }

        function exportDBClick(event) {
            event.preventDefault();
            (async () => {
                const data = await exportDb();
                const file = new File([JSON.stringify(data)], 'db1.json', {
                    type: 'application/json',
                });
                downloadFile(file);
            })();
            return false;
        }

        function importDBClick(event) {
            event.preventDefault();
            document.getElementById('importDBInput').click();
            return false;
        }

        (async () => {
            const db = await refreshDBFromCloud();
            games = await db.getAll('games');
            gamesList = getGamesList(games);
            renderGameList(gamesList, document.getElementById('game-filter-input').value);
        })();

        document.getElementById('importDBInput').addEventListener('change', (event) => {
            var reader = new FileReader();
            reader.onload = (event) => {
                const dbData = JSON.parse(event.target.result);
                importDb(dbData).then(() => SessionCache.reset() && window.location.reload());
            };
            reader.readAsText(event.target.files[0]);
        });
    </script>{{end}}